.Button {
    background-color: #026455;
    border-radius: 7px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:hover {
    background-color: #013f36;
    filter: brightness(80%)
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}