.Button {
    background-color: #026455;
    border-radius: 7px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:hover {
    background-color: #013f36;
}

.Button:focus {
    background-color: #013f36;
    box-shadow: 0 0 15px 5px rgb(0, 128, 96);
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
