.Toolbar {
    background-color: #4daf9582;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 3em;
    position: fixed;
    box-shadow: 0 0 20px 0 black;
    z-index: 100;
    .Toolbar__sideBarTgl {
        display: none;
        flex: 0 1 5%;
        line-height: 3em;
        align-self: center;
        &:hover {
            cursor: pointer;
            background-color: #026455;
        }
        @media screen and (max-width: 960px) {
            display: block;
            & {
                flex: 0 1 10%;
            }
        }
    }
    .Toolbar__title {
        font-size: 1.2em;
        padding: 0 15px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        flex: 1 1 auto;
        &:hover {
            cursor: pointer;
        }
    }

    &__Menu {
        flex: 1 1 70%;
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        &__item {
            cursor: pointer;
            height: inherit;
            flex: 0 1 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.5s;
            & span {
                padding-left: 1em;
            }
            &:hover {
                background-color: #00c1a8;
            }
            &_active {
                background-color: #00c1a8;
            }
        }
        &__status {
            padding: 0 1em;
        }
        @media screen and (max-width: 960px) {
            display: none;
        }
    }
}

.Logo {
    display: block;
    position: relative;
    /* width: 64px; */
    /* height: 64px; */
    flex: 1 1 auto;
    box-sizing: border-box;
    height: 100%;
    &:hover div {
        animation: LogoRotate 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }
}

.Logo div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 5px;
    right: 0;
    /*   border: 6px solid teal; */
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px #ffffff9c, inset -9px 2px 0px 0px #ffffff45;
}

.Logo div:nth-child(1) {
    transform: rotate(10deg);
    animation-delay: -0.8s;
}
.Logo div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.6s;
}
.Logo div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.4s;
}

.Logo div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.2s;
}

@keyframes LogoRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a {
    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:active {
        text-decoration: none;
        color: white;
    }
}
