.auth {
    // width: 100%;
    // box-sizing: border-box;
    margin: 40px auto;
}
.AddUser {
    width: 100%;
    box-sizing: border-box;
    margin: 40px auto;
    &__form {
        width: 90%;
        margin: 0 auto;
        &__inputGroup {
            width: 50%;
            &__input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 1em 0;
                & input,
                select {
                    flex: 1 1 75%;
                    box-shadow: 0 0 1px 0 cyan;
                    outline: none;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    background-color: white;
                    font: inherit;
                    padding: 6px 10px;
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                }
                & input:focus,
                select:focus {
                    box-shadow: 0 0 10px 2px #5decc5;
                }
                & label {
                    flex: 1 1 20%;
                }
            }
            &__button {
                margin: -10px;
            }
        }
    }
}
.EditUser {
    width: 90%;
    box-sizing: border-box;
    margin: 40px auto;
    &__form {
        width: 90%;
        margin: 0 auto;
        &__inputGroup {
            width: 100%;
            &__input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                & input:focus,
                select:focus {
                    box-shadow: 0 0 10px 2px #5decc5;
                }

                & label {
                    flex: 1 1 20%;
                }
            }
            &__button {
                margin: -10px;
            }
        }
    }
}
.auth label {
    display: block;
}
.auth .username,
.auth .password,
.auth .role,
.AddUser .username,
.AddUser .password,
.AddUser .role {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    line-height: 1.5;
    padding: 5px 10px;
    border-color: #dbdbdb;
    color: #363636;
    -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: max-content;
    margin: 10px;
}
.auth .role {
    width: 100%;
}
.checkbox {
    width: 100%;
}
.checkbox input {
    margin-right: 10px;
}
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    /*vertical-align: top;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: center;
    white-space: nowrap;
    margin-left: 5px;
    margin-top: 20px;
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
}
.username,
.password,
.role {
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    color: coral;
}

.UserList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.User {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;
    font-weight: bolder;
    margin: 0.5em 0.5em;
    border-radius: 20px;
    box-shadow: 3px 4px 3px 0 black;
    transition: background-color 0.5s;
    background: rgba(68, 68, 68, 0.835);
    width: 80%;
    &:hover {
        background-color: rgba(162, 159, 159, 0.36);
    }
    &__content {
        width: 95%;
        display: flex;
        justify-content: flex-start;
        margin: 1em;
        &__info {
            flex: 1 1 80%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__name {
            }
            &__role {
                font-size: 0.75em;
            }
        }
        &__controls {
            flex: 1 1 20%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            &__edit {
                padding: 0.7em;
                border-radius: 20px;
                &:hover {
                    background-color: rgb(47, 46, 46);
                    filter: brightness(80%);
                }
            }

            &__delete {
                padding: 0.7em;
                border-radius: 20px;
                &:hover {
                    background-color: rgb(47, 46, 46);
                    filter: brightness(80%);
                }
            }
        }
    }
    &__edit {
        transition: 0.3s;
        width: 100%;
        border-radius: 0 0 20px 20px;
        box-shadow: inset 0px 20px 20px -20px black;
        height: 0em;
        overflow: hidden;
    }
    &__edit_expand {
        height: 22em;
    }
}
