.Settings {
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', serif;
    display: flex;
    justify-content: space-between;
    h2 {
        text-align: center;
    }
    h3 {
        padding: 0 1em;
    }
    &__User {
        width: 40%;
        padding: 1em;
    }
    &__list {
        flex: 1 1 10%;
        background-color: #232222;
        &__item {
            padding: 1em;
            color: white;
            cursor: pointer;
            transition: border-right 1s;
            box-sizing: border-box;
            border-right: 3px solid transparent;
            &:hover {
                border-right: 3px solid rgb(19, 161, 138);
            }
        }
        &__item_active {
            background-color: #3e3c3c;
        }
    }
    &__content {
        overflow: auto;
        flex: 1 1 70%;
        padding: 1em;
        box-shadow: inset 20px 0 20px -10px #000;
    }
}
