.ContentContainer {
    padding-top: 3em;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

    .Movies{
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}