.NotifWrapper {
    position: fixed;
    top: 80%;
    transform: translateY(-80%);
    right: 0;
    max-height: 80%;
    width: 30%;
    margin: 1em;
    display: grid;
    grid-row-gap: 1em;
    grid-template-rows: repeat(auto-fill, 10%);
    grid-template-columns: 1fr;
    @media screen and (max-width: 960px) {
        width: 40%;
    }
    @media screen and (max-width: 600px) {
        width: 80%;
    }
}
