body {
  margin: 0;
  padding: 0;
  font-family: 'Do Hyeon' ,sans-serif;
  background-color: #333333;
  color: white;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

.taC {
  text-align: center;
}
.taL {
  text-align: left;
}
.taR {
  text-align: right;
}

.primary {
  background-color: #ffffff !important;   
}
.secondary {
  background-color: #009a9a !important;   
 }
 .success {
  background-color: #008000 !important;   
 }
 .warning {
  background-color: #ffa500 !important;   
 }
 .danger {
  background-color: #ff0000d2 !important;   
 }
 
 .xs {font-size: 10px;}
 .sm {font-size: 12px;}
 .md {font-size: 16px;}
 .lg {font-size: 20px;}
 .xl {font-size: 24px;}
